*{ margin: 0; padding: 0; }

@font-face {
    font-family: "Myriad Pro Regular";
    src: url("../fonts/MyriadPro-Regular.otf");
    font-style: normal;
    font-weight: normal;
}


/* General */
html, body {
    font: 12px Proxima Nova, sans-serif;
    margin: 0;
    background: #fff;
    width: 100%;
}
.clear {
	clear: both;
	font-size: 0px;
}
/*
#wrapper {
	width: 780px;
	margin: 0 auto;
}
*/
a {
	text-decoration: none;
    cursor: pointer;
}
/* Header */
header {
    padding: 20px 0;
}
header .logo {
    margin-left: 25px;
}
header .logo:active {
    top: 3px;
}
header .row,
footer .row {
    display: flex;
    align-items: center;
}
nav {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-right: 60px;
}
nav ul li {
    display: inline-block;
    padding-right: 30px; 
    vertical-align: bottom;
    line-height: 1;
    list-style: none;
    position: relative;
}
nav ul li a {
    text-decoration: none;
    font-family: Myriad Pro Regular, serif;
    font-size: 20px;
    color: #666666;
    border-bottom: 4px solid transparent;
}

nav ul > li a:hover {
    border-bottom: 4px solid #6699ff;
    color: #666666;
    text-decoration: none;
    padding-bottom: 20px;
    text-indent: 20px;
}