*{ margin: 0; padding: 0; }

@font-face {
    font-family: "Myriad Pro Regular";
    src: url("../fonts/MyriadPro-Regular.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Segoe WP Light";
    src: url("../fonts/Segoe WP Light.ttf");
    font-style: normal;
    font-weight: normal;
}

/* Media Queries */
@media only screen and (max-width: 991px) {
	.shopping-mobile {width: 86%; margin: 0 auto; padding-left: 12%;}
	.shopping-mobile h2 {padding-top: 0 !important;}
	.shopping {margin-top: 0 !important;}
	.shopping img {transform: scale(0.7); margin: -5%;}
	.shopping h1 {padding-bottom: 0 !important; padding-top: 20px;}
	.card {padding-top: 20px !important; display: flex; flex-direction: row; text-align: left; justify-content: center;}
	.card img {transform: scale(0.75); margin: -5%; text-align: justify; margin-left: -40%;}
	.card-body {text-align: left; display: flex; flex-direction: column; justify-content: center;}
	.card-title {font-size: 28px !important;}
	.line-card {display: block !important;}
}
@media only screen and (max-width: 640px) {
	
}

/* General */
html, body {
    font: 12px Proxima Nova, sans-serif;
    margin: 0;
    background: #fff;
    width: 100%;
	overflow-x: hidden;

}

.clear {
	clear: both;
	font-size: 0px;
}

a {
	text-decoration: none;
    cursor: pointer;
}

/* Navbar */
.navbar {
	border: none;
	margin-bottom: 0;
	font-family: Segoe WP Light, sans-serif;
	font-size: 19px;
	color: #666;
	font-weight: bolder;
	font-stretch: condensed;
	letter-spacing: 1px;
}

.navbar-right {
    margin-right: 50px;
}

.navbar-default {
	background: none; 
}

.navbar-brand {
	padding: 5px 0 0 15px;
}

.navbar-brand > img {
	margin-left: 70px;
	width: 178px;
	height: 44px;
}

.container-fluid {
    padding-top: 10px;
}

.nav > li {
    margin-top: 20px;
	padding-right: 30px;
}

.nav > li > a {
    padding: 10px 0 20px 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus  {
	background: none; 
	color: #666;
}

.navbar-default .navbar-nav > li > a {
	color: #666;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #666;
}

.navbar-default .navbar-nav li > a:hover:after{
    content: "";
	display: block;
    position: absolute; bottom: 0; left: 0;
    width: 100%;
    height: 4px;
    background: #6699ff; 
	
}

/* Slider */
.carousel-control .glyphicon-chevron-left {
    background: url("../images/button-right.png") no-repeat;
    width: 25px;
    height: 63px;
}
.carousel-control .glyphicon-chevron-right {
    background: url("../images/button-left.png") no-repeat;
    width: 25px;
    height: 63px;
}
.glyphicon-chevron-left:before {
    display: none;
}
.glyphicon-chevron-right:before {
    display: none;
}
.carousel-control.right {
    background-image: none;
}
.carousel-control.left {
    background-image: none;
}
.item {
    height: 480px !important;
    position: relative;
}
.slider::after {
    position: absolute;
    content: " ";
    display: block;
    left: 0;
    width: 100%;
    height: 480px;
}
.slider::after {
    background: url("../images/Layer-6.png");
    bottom: -471px;
}
.carousel-caption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 10%;
    left: 13%;
    right: 13%;
    padding: 0;
    max-width: 1030px;
    margin: 0 auto;
}
.carousel {
    max-width: 1250px;
    margin: 0 auto;
}
.slider {
    background: url("../images/banner1-.png") no-repeat center;   
    background-size: cover;
    height: 480px !important;
    position: relative;
}
.iphone img {
    display: block;
    float: left !important;
    width: 21.56em;
    height: 27.25em;
}
.right-text {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: left;
    font-family: Segoe WP Light, sans-serif;
}
.right-text h3 {
    font-size: 42.3px;
    font-weight: bold;
}
.right-text p {
    font-size: 26.3px;
}
button[name="sign"] {
    display: block;
    width: 170px;
    height: 40px;
    line-height: 22.3px;
    background-color: #6699ff;
    border: none;
    font-size: 22.3px;
    vertical-align: middle;
    margin: 25px 0 0 15px;
    padding: 0;
	cursor: pointer;
}
button[name="sign"] img {
    padding-right: 10px;
}
button[name="sign"]:hover {
    background-color: #cc3333;
}
/* Main container */
.card {
	text-align: center;
	border: none;
	padding-top: 80px;
}
.card-title {
	font-family: Segoe WP Light, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #6699ff;
	margin-top: 25px;
}
.card-text {
	font-family: Segoe WP Light, sans-serif;
	font-size: 15px;
	font-weight: bolder;
	color: #909090;
}

.line-card {
	display: none;
	border-top: 2px solid #d7d3d3;
	margin-top: 10px;
	width: 150%;
    left: -20%;
    position: absolute;
}

.shopping {
	font-family: Segoe WP Light, sans-serif;
	font-size: 15px;
	margin-top: 45px;
}

.shopping p {
	text-align: left;
	line-height: 25px;
}

.shopping h1 {
	font-size: 40px;
	font-weight: bolder;
	color: #6c6c6c;
	padding-bottom: 25px;
}

.shopping h2 {
	font-size: 25px;
	font-weight: bolder;
	color: #6c6c6c;
	padding: 50px 0 20px 0;
	text-align: left;
}
.bot {
    text-align: center;
}

.line {
	border-top: 1px solid #eee;
	margin-top: 20px;
    margin-bottom: 5px;
}
/* Footer */
footer {
	text-align: center;
	font-family: Segoe WP Light, sans-serif;
	font-size: 15px;
	color: #909090;
	padding: 10px 0 40px 0;
}